{% extends 'base.html' %}

{% block title %}Пользователь{% endblock %}

{% block auth_menu %}
    {% if user_obj.pk == request.user.pk  %}
        <li class="nav-item"><a class="nav-link px-md-3 py-md-2 text-white" href="{% url 'accounts:change' user_obj.pk %}">Редактировать</a></li>
        <li class="nav-item"><a class="nav-link px-md-3 py-md-2 text-white" href="{% url 'accounts:password_change' user_obj.pk %}">Смена пароля</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div style="text-align: left;">
        <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
        {% if user_obj.profile.avatar %}
            <img class="avatar" src="{{ user_obj.profile.avatar.url }}" alt="user picture">
        {% endif %}
        <p>Имя пользователя: {{ user_obj.username }}</p>
        <p>Имя: {{ user_obj.first_name }}</p>
        <p>Фамилия: {{ user_obj.last_name }}</p>
        <p>Почта: {{ user_obj.email }}</p>
        <p>Ссылка на GitHub: {{ user_obj.profile.link }}</p>
        <p>О себе:</p>
        <p class="pre">{{ user_obj.profile.about }}</p>
    </div>
    <h2 class="text-center clear mb-5">Заказы пользователя:</h2>
    {% for order in user_obj.orders.all %}
        <h3>Дата заказа: {{ order.date_create }}</h3>
        <table class="table table-light table-striped mb-5" align="center">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Итого</th>
                    <th>Доставка</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order_product in order.order_products.all %}
                    <tr>
                        <td>
                            <a href="{% url 'webapp:product_view' pk=order_product.product.pk %}">{{ order_product.product.name }}</a>
                        </td>
                        <td class="text-right">{{ order_product.product.price }}</td>
                        <td class="text-right">{{ order_product.amount }}</td>
                        <td>{{ order_product.total|floatformat:2 }}</td>
                        <td>{{ order.delivery.get_status_display|default:order.delivery.status }}</td>
                        {% if order.delivery.status != 'cancelled' %}
                        <td>
                            <form method="post" action="{% url 'webapp:cancel_delivery' pk=order.delivery.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Отменить доставку</button>
                            </form>
                        </td>
                    {% endif %}
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>
{#        {% if delivery.status != 'cancelled' %}#}
{#            {% url 'webapp:cancel_delivery' pk=order.delivery.pk as action_url %}#}
{#            {% include 'partial/form.html' with action_url=action_url form_method='post' button_text='Отменить доставку' %}#}
{#        {% endif %}#}
{#        {% include 'partial/product_list.html' with products=order.products.all fields_only=True %}#}
     {% endfor %}


{% endblock %}