{% extends 'base.html' %}

{% block title %}Пользователь{% endblock %}

{% block menu %}
    {% if user_obj.pk == request.user.pk  %}
        <li><a href="{% url 'accounts:change' user_obj.pk %}">Редактировать</a></li>
        <li><a href="{% url 'accounts:password_change' user_obj.pk %}">Смена пароля</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div style="text-align: left; margin-top: 20%">
        <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
        {% if user_obj.profile.avatar %}
            <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
        {% endif %}
        <p>Имя пользователя: {{ user_obj.username }}</p>
        <p>Имя: {{ user_obj.first_name }}</p>
        <p>Фамилия: {{ user_obj.last_name }}</p>
        <p>Почта: {{ user_obj.email }}</p>
        <p>Ссылка на GitHub: {{ user_obj.profile.link }}</p>
        <p>О себе:</p>
        <p class="pre">{{ user_obj.profile.about }}</p>
    </div>
    <h2 class="text-center clear">Заказы пользователя:</h2>
    {% for order in user_obj.orders.all %}
        <h2>Дата заказа: {{ order.date_create }}</h2>
        <table class="cart-table" style="margin-top: 0" align="center">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Итого</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.product_order.all %}
                    <tr>
                        <td>
                            <a href="{% url 'product_view' item.product.pk %}">{{ item.product.name }}</a>
{#                            (<a href="{% url 'basket_delete_one' item.pk %}">Удалить Один</a>,#}
{#                            <a href="{% url 'basket_delete' item.pk %}">Удалить Все</a>)#}
                        </td>
                        <td class="text-right">{{ item.product.price }}</td>
                        <td class="text-right">{{ item.amount }}</td>
                        <td>{{ item.total_product }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <th colspan="3" class="text-right">Итого</th>
{#                    <th class="text-right">{{ total }}</th>#}
                </tr>
            </tbody>
        </table>
{#        {% include 'partial/product_list.html' with products=order.products.all fields_only=True %}#}
     {% endfor %}


{% endblock %}