{% load static %}
<div class="row text-uppercase">
    {% for product in products %}
        <div class="col col-12 col-md-6 col-lg-3 mb-4">
            <div class="card mb-3 mb-xl-0 h-100">
                {% if product.picture %}
                    <img src="{{ product.picture }}" class="card-img-top" alt="Фотография">
                {% else %}
                    <img src="{% static 'img/empty.png' %}" class="card-img-top" alt="Пустая фотография">
                {% endif %}

                <div class="card-body d-flex flex-column text-center">
                    <h5><a href="{% url 'webapp:product_view' product.pk %}">{{ product.name }}</a></h5>
                    <div class="mt-auto">
                        <p class="card-text">От {{ product.price }} сомов</p>
                        <p class="card-text">Наличие: {{ product.get_status_display }}</p>
                        <a href="{% url 'webapp:product_update' product.pk %}" class="btn-overlay btn-overlay-left-10"><i class="far fa-edit fa-2x"></i></a>
                        <a href="{% url 'webapp:product_delete' product.pk %}" class="btn-overlay btn-overlay-left-27"><i class="far fa-trash-alt fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
     {% endfor %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
</div>