{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}SofaShop{% endblock %}</title>
	<link rel="shortcut icon" href="{% static 'img/sofa.ico' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Istok+Web&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top py-md-0 ">
        <div class="container">
            <a class="navbar-brand mr-md-5 align-self-start m-2 text-center text-white" href="{% url 'webapp:index' %}"><i class="fas fa-couch"></i>SofaShop</a>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ml-md-5">
                    {% block menu %}{% endblock %}
                </ul>
            
                <form action="{% url 'webapp:index' %}" class="form-inline mr-5 my-lg-0" method="GET">
                      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search">
                      <button class="btn btn-secondary my-2 my-sm-0" style="background: #4B0082;" type="submit">Найти</button>
                </form>
{#                <a href="#myModal" data-toggle="modal" class="far fa-user text-light register-icon my-3  my-md-0 d-none d-md-inline-block"></a>#}
            </div>
        </div>
    </nav>
    {% block promo %}{% endblock %}
    <br>
    <div class="container">
        <div class="content">{% block content %}{% endblock %}</div>
    </div>
</div>
</body>
<footer class="footer inner-shadow ">
    <div class="container">
        <br>
        <p id="contact" class="mt-3">Copyright © All Rights Reserved. <a href="SofaShop.com ">SofaShop.com &thinsp; </a> - &nbsp; &nbsp; &nbsp; <a href="SofaShop@gmail.com">SofaShop@gmail.com</a></p>
    </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>
    <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
    <script src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>
</html>
