{% extends 'base.html' %}
{% block title %}Корзина{% endblock %}

{% block content %}
    <h1>Оформить заказ: </h1>
        {% if basket %}
            {% for product in basket %}
                {% if product.amount >= 1 %}
                    <h3>{{ product.product.name }}  <a href="{% url 'webapp:basket_delete' pk=product.pk %}"><i class="far fa-trash-alt trash-can"></i></a></h3>
                    <p>Количество: {{ product.product.amount }}шт. <br/>
                        Цена {{ product.price }} сом за шт.</p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Пусто</p>
        {% endif %}
         <h2>Итого: {{ total }} сом</h2>
{% endblock %}