{% extends 'base.html' %}
{% block title %} Категории комнаты {% endblock %}
{% block menu %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ room.name }}
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'webapp:room_products' pk=room.pk %}">Все</a>
            {% for category in categories %}
                <a class="dropdown-item" href="{% url 'webapp:room_products' pk=room.pk %}?category_id={{ category.pk }}">{{ category.name }}</a>
            {% endfor %}
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link px-md-3 py-md-2 text-white" href="{% url 'webapp:basket_view' %}">Корзина</a>
    </li>
{% endblock %}
{% block content %}
    {% include 'partial/product_list.html' %}
{% endblock %}