body{
	font-family: 'Istok Web', sans-serif;
	color: #4b3f55;
	font-size: 13px;
	font-weight: bold;
}
body, html {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}
h2{
	color: #775ba3;
	font-size: 40px;
	font-weight: bold;
}

.logo {
	text-align: center;
	color: white;
}
.ic-2{
	height: 600px;
	object-fit: cover;
}
.navbar {
	background: #775ba3;
}
.nav-link {
	text-transform: uppercase;
	font-size: 14px;
}

.register-icon{
	font-size: 25px;
}
.carousel-item img {
    filter: brightness(50%);
}
.carousel-indicators li {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: transparent;
	border: solid 2px white;
	opacity: 1;
}
.carousel-indicators li.active {
	background: white;
	border: 0;
}
.card-img-top {
	width: 100%;
	height: auto;
	object-fit: cover;
}
.promo-text
{
	font-size: 23px;
}

.card-content{
	font-size: 13px;
	line-height: 23px;
}
.inner-shadow {
	/*-webkit-box-shadow: inset 0px 3px 3px -3px rgba(0,0,0,0.5);*/
	box-shadow: inset 0px 3px 13px -3px rgba(0,0,0,0.5);
}
.sn-icon {
	font-size: 25px;
	text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}
.lavre-big{
	font-size: 34px;
	font-weight: normal;
}
.card-img {
	width: 100%;
	height: auto;
}
.card-content i{
	font-size: 55px;
	padding: 10px;
	color: #775ba3;
	border-radius: 50%;
	border: solid 2px #775ba3;
}

.brdr{
	border-style: solid;
	color: #6FCC9B; 
	border-width: 3px 0;
}
.card-title{
	text-transform: uppercase;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
}
.card-title span{
	font-size: 15px;
}
.card-text{
	text-align: center;
	color: #4b3f55;
}
.room-block-text {
	color: pink;
}
.footer{
	height: 85px;
    background: #397845;
    color: white;
}

.footer a, footer p{
	font-size: 14px;
	color: white;
	text-decoration: none;
}
.footer a:hover{
	color: lightblue;
}

.pre {
	white-space: pre-wrap;
}

.pagination {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px #0b5eb5;
    border-radius: 3px;
    padding: 5px;
	margin: 3px;
}

.pagination a {
    background: #007bff;
    color: white;
    text-decoration: none;
}

.pagination a:hover {
    background: #0b5ed7;
    text-decoration: underline;
}

.pagination .page-disabled {
    background: #0b5eb5;
    color: #dddddd
}

.pagination .current-page {
    display: inline-block;
}

.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px #007bff;
}

.product_view {
	color: #4b3f55;
}
.price {
	color: #41B06E;
}

.card {
	position: relative;
}
.btn-overlay {
    position: absolute;
    top: 7%;  /* центрируем кнопку по вертикали */
    left: 10%; /* центрируем кнопку по горизонтали */
    transform: translate(-50%, -50%); /* точно центрируем кнопку относительно её размеров */
    padding: 7px 7px; /* Дополнительное пространство вокруг текста */
    color: white; /* цвет текста */
    background: rgba(0, 0, 0, 0.5); /* полупрозрачный черный фон для лучшей видимости */
    border: none;
	border-radius: 3px;
    cursor: pointer; /* делаем видимым, что кнопка кликабельна */
}